
.navber-section {
   position: absolute;
   z-index: 1;
   width: 100%;
   top: 30px;
   left: 0;

  
}

.menu-list {
  font-family: "Open Sans", sans-serif !important;
  font-size: 18px;
  font-weight: 600 !important;
  color: #29313D !important;

}

.menu-list:hover {
  color: #ff5538 !important;
}

.menu-part {
  gap: 48px;
  align-items: center;
}

.btnmain{
    margin-left: 0px !important;
}

.btnstyle:hover{
    background-color: transparent !important;
    border: 1px solid #ff5538 !important;
    color: black !important;
    transition: 0.4s;
    
}

