.work-section{
    position: relative;
    padding-bottom: 40px;
    
}


.workani1{
    position: absolute;
    top: -330px;
    left: -335px;
    z-index: -1;
    animation: ani1 4s infinite alternate linear;
}

.workani2{
    position: absolute;
    top: -90px;
    left: 50px;
    z-index: -1;
    animation: ani2 4s infinite alternate linear;
}

@keyframes ani2{
    0%{
        transform: translate(0);
    }
    100%{
        transform: translateX(-80px);
    }
}

@keyframes ani1{
    0%{
        transform: translate(0);

    }
    100%{
        transform: translateX(50px);
    }
}

.work-heading{
    display: flex;
    justify-content:space-between;
    padding-top: 50px;
    align-items: center;
}
.work-heading .work-pera{
    font-size: 20px;
    color: #FF5538;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    padding-bottom: 10px;
}

.work-heading .work-head{
       font-size: 48px;
   
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    width: 690px;
    line-height: 140%;
    
}
   
