.banner-section {
  background: url(../../assets//bannerbg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  
  
}
.bannerbtn1:hover{
  background-color: transparent !important;
    border: 1px solid #ff5538 !important;
    color: black !important;
    transition: 0.4s;
}

.bannerbtn2 {
  background-color: transparent !important;
  border: 1px solid #ff5538 !important;
  margin-left: 24px !important;
  color: #ff5538 !important;
  font-family: "Nunito", sans-serif !important;
}

.bannerbtn2:hover {
  background-color: #ff5538 !important;
  color: white !important;
  border: 1px solid #ff5538 !important;
  transition: 0.5s;
}

.heading-part {
  text-align: center;
  padding: 350px 0px !important;
}

h1 {
  font-size: 64px !important;
  width: 750px;
  display: inline-block;
  font-weight: 700 !important;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  padding-bottom: 24px !important;
  margin: 0px !important;
}
.banner-pera{
    font-family: "Poppins", sans-serif ;
    font-size: 18px;
    width: 600px !important;
    display: inline-block;
    padding-bottom: 44px;
    margin: 0px !important;
}



.aniimg1{
  position: absolute;
  top: -252px;
  left: -282px;
}

.aniimg2{
  position: absolute;
  top: 200px;
  right: -65px;
}
.animation1{
  position: absolute;
  top: 350px;
  left: 80px;
  animation: ani 5s alternate infinite linear;
}

.animation2{
  position: absolute;
  bottom: -108px;
  right:  -750px;
  animation: ani2 4s alternate infinite linear;
}

.animation3{
  position: absolute;
  top: 580px;
  left: 240px;
  animation: ani3 5s alternate infinite linear;
}


.animation4{
  position: absolute;
  top: 700px;
  right: 170px;
  animation: ani4 5s alternate infinite linear;
}

.animation5{
  position: absolute;
  top: 300px;
  right: 500px;
  animation: ani6 5s  infinite linear;
}

.animation7{
  position: absolute;
  top: 300px;
  left: 500px;
  animation: ani6 5s  infinite linear;
  
}

.animation8{
  position: absolute;
  top: 160px; 
  left: 70px;
}

.animation9{
  position: absolute;
  top: 130px;
  left: 350px;
}



.animation6{
  position: absolute;
  top: 200px;
  right: 700px;
  animation: ani7  5s alternate  infinite linear;
}

@keyframes ani7{
  0%{
    transform: translate(0);
  }
  100%{
    transform: translateY(-50px);
  }
}

@keyframes ani6{
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes ani3 {
  0%{
    transform: translate(0);

  }

  100%{
    transform: translateY(-80px);
  }
}


@keyframes ani4 {
  0%{
    transform: translate(0);

  }

  100%{
    transform: translateX(-50px);
  }
}





@keyframes ani {
  0%{
    transform: translateX(0);

  }

  100%{
    transform: translateX(-80px);
  }
}

@keyframes ani2 {
  0%{
   transform: translateY(-50px);

  }
 
 
  100%{
    transform: translate(0);
  }
}

.ani-out{
  width: 100px;
  height: 100px;
  position: absolute;
  top: 170px;
  left: 680px;
  border-radius: 50%;
  border: 3px solid #ff563879;
  animation: ani5 5s infinite linear;
}

@keyframes ani5 {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.ani-out .ani-inner{
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ff5638ac;
  transform: translateX(-50%);
  bottom: 10px;
  left: 9px;
  border-radius: 50%;
}